= provide(:title, @user.name)
%div
  %aside
    %section
      %h1
        = @user.name
      - if @user.avatar_url
        .profile-avatar= image_tag @user.avatar_url(:avatar)
      - else
        = image_tag("miss_avatar.png", alt: @user.name, width: 150, height: 200)
      %p
        My email:
        %span.profile
          = @user.email
          %span
- if @user == current_user
  %p#show-advice My advice:
  = link_to "Create new advise", new_hotel_path
  - if @user.hotels.empty?
    %p I have no advice yet
- else
  %p#show-advice His advice:
- @user.hotels.each do |f|
  = render "/hotels/index", f: f
